#landing {
    text-transform: uppercase;
    background-image: url('/assets/img/background.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 800px;
    box-shadow: 0 4px 23px 0 hsla(0, 0%, 0%, 0.5);
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#landing h1, #landing h2 {
    margin: 0;
}

#landing h1 {
    font-size: 8rem;
    font-weight: 900;
}

#landing h2 {
    font-size: 3rem;
    font-weight: 500;
    opacity: .8;
}

#landing #landing-cta {
    margin: 2rem 0;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing #landing-cta .btn {
    width: 50%;
}

#landing img#scroll-indicator {
    position: absolute;
    bottom: 1rem;
    width: 110px;
    height: auto;
    cursor: pointer;
}


.banner {
    background-image: url('/assets/img/banner-bg.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 95%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.banner h2 {
    margin: 0;
    font-size: 3.75rem;
    font-weight: 700;
}

.banner p {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 300;
}


.banner .btn {
    min-width: 150px;
}

#statistics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 4rem !important;
    margin-right: 4rem !important;
}

.stat-card {
    margin: 4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    aspect-ratio: 1;
    text-align: center;
    position: relative;
}

.stat-card i {
    position: absolute;
    background-color: white;
    color: black;
    border-radius: 100%;
    padding: 3rem;
    font-size: 5rem;
    left: -20%;
    top: -20%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.stat-card p {
    margin: 0;
}

.stat-card p.title, .stat-card p.subtitle {
    text-transform: uppercase;
    filter: drop-shadow(0px 4px 4px #000000);
}

.stat-card p.title {
    font-size: 9rem;
    font-weight: 900;
    line-height: 169px;
    margin-top: 4rem;
}

.stat-card p.subtitle {
    font-weight: 900;
    font-size: 3rem;
    line-height: 84px;
    margin-bottom: 4rem;
}

.stat-card p.extra {
    font-weight: 300;
    font-size: 1.125rem;
    width: 80%;
    margin: auto;
}

.reviews-slider {
    width: 100%;
    overflow: scroll;
    scrollbar-color: transparent transparent !important;
}

.reviews-slider::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 100px;
}


.reviews-slider::-webkit-scrollbar-track {
    background-color: transparent;
}

.review {
    margin-left: 3rem;
    margin-right: 3rem;
    min-width: calc(33% - 5rem);
}

.review h3 {
    margin: 0;
}

.review .review-pill {
    display: inline-block;
    border-radius: 100px;
    aspect-ratio: 2/1;
    background-color: white;
    height: 1rem;
    overflow: hidden;
    position: relative;
    filter: drop-shadow(0 4px 4px rgba(255, 255, 255, 0.5));
}

.review .review-pill.full {
    background-color: var(--primary);
    filter: drop-shadow(0 4px 4px hsla(155, 100%, 63%, 0.5));
}

.review .review-pill.half::before {
    content: '';
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 50%;
    background-color: var(--primary);
}

.review p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
}

#review-buttons .btn {
    min-width: 100px;
}

#contact-us {
    margin: 7rem 3rem !important;
}

#contact-us>* {
    width: 100%;
}

.form {
    margin: auto;
}

.form h3 {
    margin: 0;
}

.form input {
    width: 75%;
    border-radius: 100px;
    background-color: #252525;
    border: none;
    color: white;
    padding: 1rem 4rem;
    margin-left: 25%;
    position: relative;
}

.form input:focus {
    outline: 1px solid var(--primary);
}

.form label {
    background-color: var(--primary);
    border-radius: 100px;
    color: var(--bg) !important;
    text-align: center;
    padding: 1rem;
    width: 25%;
    min-width: 200px;
    transform: translate(-30%, 100%);
    z-index: 1;
}

.form input::placeholder {
    opacity: .2;
    font-weight: 900;
}

.form p {
    text-transform: capitalize;
    font-style: italic;
    font-weight: 400;
    margin: 1rem;
}

footer {
    text-transform: uppercase;
    opacity: .5;
    padding: 3rem;
}