#contact-us {
    margin: 0 3rem !important;
}

#contact-us>* {
    width: 100%;
}

.form {
    margin: auto;
    width: 50%;
}

.form h3 {
    margin: 0;
}

input {
    border-radius: 100px;
    background-color: #252525;
    border: none;
    color: white;
    padding: 1rem 4rem;
    position: relative;
    margin-left: 200px;
}

input:read-only {
    color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
}

input:read-only:focus {
    outline: none;
}

input:focus {
    outline: 1px solid var(--primary);
}

label {
    background-color: var(--primary);
    border-radius: 100px;
    color: var(--bg) !important;
    text-align: center;
    padding: 1rem;
    width: 200px;
    transform: translate(0, 100%);
    z-index: 1;
    cursor: pointer;
}

input::placeholder {
    opacity: .2;
    font-weight: 900;
}

input.error {
    outline: 2px dashed red;
}

.form p {
    text-transform: capitalize;
    font-style: italic;
    font-weight: 400;
    margin: 1rem;
}

.form .btn {
    margin: 1rem auto;
    width: 200px;
}

toggle {
    padding: 2rem;
    padding-left: 4rem;
    position: relative;
    text-align: end;
    width: fit-content;
    cursor: pointer;
}

toggle[disabled] {
    cursor: not-allowed;
    opacity: .7;
    filter: brightness(.7);
}

toggle::before {
    content: '';
    position: absolute;
    left: 0;
    aspect-ratio: 2/1;
    height: 1.5rem;
    margin: auto;
    background-color: rgb(150, 150, 150);
    border-radius: 100px;
}

toggle::after {
    content: '';
    position: absolute;
    left: 5px;
    aspect-ratio: 1/1;
    height: 20%;
    top: 43%;
    margin: auto;
    background-color: rgb(26, 26, 26);
    border-radius: 100px;
    transition: left 200ms;
}

toggle[value=true]::after {
    left: calc(2rem - 5px);
}