#heading>* {
    width: 100%;
    position: relative;
    overflow: hidden;
}


.stamp {
    opacity: .25;
    font-size: 144px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Company Headings */

#company-heading-name{
    margin-bottom: 50px;
}

#company-heading {
    margin-right: 5rem;
    border-top: 2px solid hsla(0, 0%, 100%, .2);
}


#company-heading img {
    height: 200px;
    margin-right: 2rem;
}

#company-heading h1 {
    color: var(--primary);
    margin: 0;
    font-size: 4rem;
    font-weight: 700;
}

#company-heading h4 {
    font-size: 1.125rem;
    font-weight: 300;
}

/* Quote Headings */
#invoice-heading {
    margin-left: 5rem;
}

#invoice-heading #invoice-company-information {
    border-top: 2px solid hsla(0, 0%, 100%, .2);
}

#invoice-heading #invoice-company-information h1 {
    font-size: 4.5rem;
    font-weight: 700;
    margin: .75rem 0;
    margin-top: 4rem;
}

#invoice-heading #invoice-company-information h2 {
    font-size: 3rem;
    font-weight: 400;
    margin: .75rem 0;
}

#invoice-heading #invoice-company-information h3 {
    font-size: 2rem;
    font-weight: 300;
    margin: .75rem 0;
}

/* Tile */

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 300px;
    height: 250px;
    background-color: var(--primary);
    color: var(--bg);
    margin: 20px;
    border-radius: 20px;
}

.tile i {
    font-size: 3.5rem;
}

.tile .tile-header, .tile .tile-content {
    font-size: 2rem;
    text-transform: uppercase;
}

.tile .tile-header {
    margin-top: 2rem;
}

.tile .tile-content {
    font-weight: 900;
}