a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn, button {
    color: black;
    padding: 1rem 2rem;
    margin: 1rem;
    text-align: center;
    border-radius: 100px;
    text-transform: capitalize;
    box-shadow: 0 0 0 0 transparent;
    transition: background, transform, filter, box-shadow;
    transition-duration: 200ms;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Roboto';
}

.btn.primary, button.primary {
    background: var(--primary);
}

.btn.secondary, button.secondary {
    background: white;
}

.btn:hover, button:hover {
    filter: brightness(.9);
    transform: scale(1.01);
}

.btn[disabled], button:disabled {
    cursor: not-allowed;

    filter: brightness(.5);
}