nav {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    max-width: 95%;
    left: 2.5%;
    height: 200px;
    display: flex;
    align-items: center;
    
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity, transform;
    transition-duration: 500ms;
}

nav[loaded]{
    
    opacity: 1;
    transform: translateY(0%);
}

nav #brand {
    position: absolute;
    max-height: 160px;
    height: 100%;
    left: 0;
    transition: left, max-height;
    transition-duration: 200ms;
}

nav #brand img {
    height: 100%;
}

nav #mobile-toggle {
    display: none;
    font-size: 2rem;
    position: absolute;
    right: 3rem;
    top: 3rem;
    z-index: 1;
    transition: filter 200ms;
}

nav #mobile-toggle:hover {
    filter: brightness(.75);
    cursor: pointer;
}

nav #nav-items {
    background: rgba(69, 69, 69, 0.75);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    height: 88px;
    width: 100%;
    min-width: 600px;
    max-width: 40%;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: max-width 200ms;
}

nav #nav-items .nav-item {
    padding: .5rem 2rem;
    margin: 0 2rem;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: unset;
}

nav #nav-items .nav-item::before, nav #nav-items .nav-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 0;
    height: 2px;
    left: 0;
    border-radius: 100px;
    background-color: var(--primary);
    transition: max-width 200ms;
}

nav #nav-items .nav-item[selected]::before, nav #nav-items .nav-item:hover::before {
    max-width: 100%;
}

nav #nav-buttons {
    position: absolute;
    right: 0px;
    transition: right 200ms;
}

nav[collapsed=false] #nav-buttons span.text {
    display: inline-block;
}


nav[collapsed=false] #nav-buttons i {
    display: none;
}

nav[collapsed=true] #nav-buttons i {
    display: inline-block;
}

nav[collapsed=true] #nav-buttons span.text {
    display: none;
}

nav[collapsed=true] #nav-items {
    max-width: 70%;
}

nav[collapsed=true] #brand {
    left: 16%;
    z-index: 1;
    max-height: 75px;
}


nav[collapsed=true] #nav-buttons {
    right: 15%;
}